.statistique {
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  width: 150px;
}

.statistique-chiffre {
  font-size: 2rem;
  color: #0a6e31;
  margin: 0;
}

.statistique-libelle {
  font-size: 1rem;
  color: #333;
  margin: 5px 0 0 0;
}